shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true

# Permitir que Prisma y esbuild ejecuten sus scripts de postinstall
approve-builds=@prisma/client,@prisma/engines,prisma,esbuild
